@import url("https://fonts.googleapis.com/css?family=Pathway+Gothic+One");
@import url("https://fonts.googleapis.com/css?family=Cabin");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,600");
body {
  font-family: "Open Sans", sans-serif;
  color: #545252; }

h1, h2, h3 {
  font-family: "Raleway", sans-serif;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px; }

h1 {
  font-size: 40px;
  font-weight: 400; }

h2 {
  font-weight: 300;
  display: block; }

p {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400; }

hr {
  border: 0;
  height: 1px;
  background: #333; }

.bill-hed {
  margin-top: 20px; }

.bill-summary-text {
  width: 70%;
  margin: auto;
  height: 200px;
  overflow: scroll; }

.secondary-hed {
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  margin-top: 20px; }

.bill-description-button {
  background: #3a6985;
  height: 40px;
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 15px; }

.bill-description-button:hover {
  background: #5392b7; }

.bill-button {
  text-align: center;
  margin-top: 40px; }

.sponsor-card-container {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  margin-top: 20px; }

.sponsor-card-holder {
  display: flex;
  flex-wrap: wrap; }

.sponsor-card {
  margin: 10px;
  width: 230px;
  height: 375px; }

.sponsor-hed {
  text-align: center; }

.sponsor-section {
  margin-top: 20px; }

.line-top {
  margin-top: 30px; }

.sponsor-hed {
  display: flex;
  flex-direction: column; }

.sponsor-image {
  text-align: center;
  margin-top: 10px; }

.select-lawmaker-button {
  height: 40px;
  background: #3a6985;
  width: 170px; }

.lawmaker-sponsor-link {
  text-decoration: none;
  color: white;
  font-size: 18px; }

p.sponsor-party {
  display: block;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em; }

@media screen and (max-width: 1000px) {
  .sponsor-card-container {
    width: 750px; } }

@media screen and (max-width: 750px) {
  .sponsor-card-container {
    width: 500px; } }

@media screen and (max-width: 520px) {
  .sponsor-card-container {
    width: 250px; } }
