@import '../../assets/variable.scss';

.committee-hed {
  display: flex;
  justify-content: center;
}

.committees {
  background: #eaeef1;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}


.committee-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.darker {
  font-weight: 600;
}

.committee-element {
  margin-bottom: 15px;
}