@import '../../assets/variable.scss';

.committee-hed {
  display: flex;
  justify-content: center;
}


.committee-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.darker {
  font-weight: 600;
}

.committee-element {
  margin-bottom: 15px;
}