@import url("https://fonts.googleapis.com/css?family=Pathway+Gothic+One");
@import url("https://fonts.googleapis.com/css?family=Cabin");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,600");
body {
  font-family: "Open Sans", sans-serif;
  color: #545252; }

h1, h2, h3 {
  font-family: "Raleway", sans-serif;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px; }

h1 {
  font-size: 40px;
  font-weight: 400; }

h2 {
  font-weight: 300;
  display: block; }

p {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400; }

hr {
  border: 0;
  height: 1px;
  background: #333; }

.Contact {
  margin: 20px; }

h1.accent-hed {
  background: #3a6985;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 36px;
  padding: 8px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }

.main-contact-content {
  display: flex;
  justify-content: center; }

.lawmaker-profile {
  max-width: 1000px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto; }

.mugshot-image {
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%; }

.mugshot {
  height: 250px; }

ul {
  list-style-type: none; }

li {
  line-height: 20px; }

p.right-side-info {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px; }

.label {
  text-transform: uppercase;
  font-weight: 600; }

.secondary-hed {
  font-size: 30px;
  font-weight: 600; }

.bill-title {
  font-weight: 600; }

.committees {
  margin-left: 20px;
  margin-right: 20px; }

@media screen and (max-width: 600px) {
  .lawmaker-profile {
    flex-direction: column;
    align-items: center; } }
