@import url("https://fonts.googleapis.com/css?family=Pathway+Gothic+One");
@import url("https://fonts.googleapis.com/css?family=Cabin");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,600");
body {
  font-family: "Open Sans", sans-serif;
  color: #545252; }

h1, h2, h3 {
  font-family: "Raleway", sans-serif;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px; }

h1 {
  font-size: 40px;
  font-weight: 400; }

h2 {
  font-weight: 300;
  display: block; }

p {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400; }

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.nav-bar {
  margin-top: 30px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.nav {
  text-decoration: none;
  font-size: 25px;
  font-weight: 300;
  color: #3a6985;
  padding: 10px; }

.nav:hover {
  background: #941b20;
  color: white; }
